ul > li {
  border: 1px black solid;
  display: flex;
  align-items: center;
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
}
ul > li > p {
  margin: 5vw;
}
ul > li > img {
  height: 128px;
  width: 200px;
  background-position: center;
  border-radius: 10px;
  margin: 20px;
}
button {
  margin: 10px;
  padding: 20px;
  border: solid 1px black;
}
