<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1>BYTE</h1>
    <p>Bestelle dein Essen online</p>
    <a href="/bestellen">Jetzt einkaufen</a>
    <a href="/login"><strong>Login/Register</strong></a>

    <img src="https://cdn.pixabay.com/photo/2014/06/10/15/47/pizza-366111_960_720.jpg" alt="">
  </body>
</html>
